@model IEnumerable<Interview>
@{
    ViewData["Title"] = "Index";
}


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-info">İş Görüşmesi Bilgileri</h2>
        </div>       
        <div class="col-6 text-end">
            <a asp-controller="Interview" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp Bilgi Girişi</a>
        </div>
    </div>
</div>
<br />

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Başlık</th>
            <th>Görüşme Türü</th>
            <th>Görüşme Tarihi</th>
            <th>Maaş Beklentisi</th>
            <th>ALternatif Rol</th>
            <th>Katılımcılar</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr> 

                <td>@obj.InterviewId</td>
                <td>@obj.Title</td>
                <td>@obj.Type</td>
                <td>@obj.InterviewDate</td>
                <td>@obj.SalaryExpectation</td>
                <td>@obj.AlternateRole</td>
                <td>@obj.Participants</td>

            </tr>
        }
    </tbody>
</table>