@model IEnumerable<User>
@{
    ViewData["Title"] = "Index";
}



<head>
    <style>
        td{
            word-wrap:break-all;
        }
        .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
            background-color: aliceblue;
        }
    </style>
</head>


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Kullanıcı Bilgileri</h2>
        </div>       
        <div class="col-6 text-end">
            <a asp-controller="User" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp Kullanıcı Oluştur</a>
        </div>
    </div>
</div>
<br />

<form asp-action="Index" method="get">
    <div class="form-actions no-color" align="right">
        <h5>
            İsim / Soyisim: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Ara" class="btn btn-light" />
            <a asp-action="Index" class="btn btn-light">Tüm Listeyi Getir</a>
        </h5>
    </div>
</form>

<table class="table table-hover" style="width:100%">
    <thead style="background-color:steelblue;">
        <tr style="color:white;">
            <th>ID</th>
            <th>Fotoğraflar</th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Adı</a>
            </th>
            <th>Soyadı</th>
            <th>E-posta Adresi</th>
            <th>Hesap Durumu</th>
            <th>Ayrıntılar</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach(var obj in Model)
        {
            <tr> 

                <td>@obj.UserId</td>
                <td><img "@Url.Content("~/media/photo/"+ obj.Photo)" alt="Profil Resmi" style="border-radius:50px;" class="center" width="64" height="64"/> </td>
                <td>@obj.FirstName</td>
                <td>@obj.LastName</td>
                <td>@obj.Email</td>
                @if (@obj.AccountStatus == true)
                {
                    <td>Aktif</td>
                }
                else{ <td>Pasif</td> }
                <td>
                    <div class="w-75 btn-group" role="group">
                    <a asp-controller="Candidate" asp-action="Details" asp-route-id="@obj.UserId" class="btn btn-primary mx-2"><i class="bi bi-card-text"></i></a>

                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
