@model CandidateInf

@{
    ViewData["Title"] = "Details";
}

<html>
<head>

</head>
<body>


<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap 5 Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<style>
    b {
        font-size:12px;
        align-items:center;
        text-align:center;
        color:aquamarine;
    }
    h3{
        color:#FB100D;
    }
    i{
        color:#FB100D;
    }
    #info{
        color:slategrey;
        text-align:start;
        font-size:20px;
        font-weight:800;
        font-family:'Century Gothic';
    } 

    #cardPhoto{

        background-color:#F5F6FA; 
        border-radius:25px;
        margin-right:25px;
        margin-top:25px;
        font-size:48px;
        items-align:center;
        margin:auto;
        
    }
    #card{

    background-color:#F5F6FA; 
    align-items:center;
    border-radius:25px;
    margin-right:25px;
    margin-top:25px;
    }

</style>

</head>
<body>
    
<div class="container mt-3">
<h1><i class="bi bi-calendar-plus"></i> @Model.CreatedDate.Day.@Model.CreatedDate.Month.@Model.CreatedDate.Year
</h1>
</div>

        <link rel=stylesheet href="~/css/CandInfo.css" type="text/css">

      

<div class="container mt-3">

  <div class="row">
    <div class="col-sm-3" id="cardPhoto">
        <i class="bi bi-person"></i>
    </div>
  
    <div class="col-sm-3" id="card">
      <h3>Kişi Bilgileri</h3>
      <a>@Model.FirstName</a>
      <p id="info">@Model.Email </p>
      <p id="info">@Model.PhoneNumber </p>
      
    </div>
    
    <div class="col-sm-3" id="card">
      <h3>İletişim</h3>
      <p id="info">@Model.Email </p>
      <p id="info">@Model.PhoneNumber </p>
      
    </div>
    
    <div class="col-sm-3" id="card">
      <h3>Başvuru Durumu</h3>
      <p id="info">On Hold</p>
      
    </div>
    <div class="col-sm-3" id="card">
      <h3>Aday Bilgileri</h3>
      <p id="info">Yabancı Dil : 5</p>
      <p id="info">Cinsiyet</p>
      <p id="info">Yetenekler</p>
      <p id="info">Hobileri</p>
      <p id="info">Kişilik Testi</p>
    </div>
  </div>
</div>
   


</body>
</html>





</body>
</html>