@model IEnumerable<CandidateInf>
    @{
        ViewData["Title"] = "Aday Bilgileri";
    }

<!DOCTYPE html>
    <html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Index" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       

        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
        

    
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    
        <title>Aday Bilgileri</title>
        

        <script>
        document.addEventListener('DOMContentLoaded', function () {
            let table = new DataTable('#candidateTable');
          });
        
            $(function() {
                jQuery("[name=select_all]").click(function(source) { 
                checkboxes = jQuery("[name=box]");
                for(var i in checkboxes){
                    checkboxes[i].checked = source.target.checked;
            }
        });
    })
            $(document).ready(function(){
	
            $(".btn-danger").click(function(){
            $(this).addClass('loading');
            if(confirm("Silmek istediğine emin misin?"))
            {
                var arr_id = [];
       
            $(":checkbox:checked").each(function(i){
                arr_id[i] = $(this).val();
            })
            if(arr_id.length == 0){
            alert("En az bir tane seç!");
            }else{
                for(var i = 0;i<arr_id.length;i++){
               
                    $("."+arr_id[i]).css({"background":"red"});
                                $("."+arr_id[i]).fadeOut("slow"); 
            }
        }
       
    }
else{
    return false;
}
    })
})
             </script>
      
    </head>

      <body>

        <div class="container-fluid p-3">
            <div class="row pt-4">
                <div class="col-3 text-start">
                    <h2 >Aday Bilgileri</h2>
                </div>
                @*<div class="col-9 text-end">
                <a asp-controller="Candidate" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> &nbsp Bilgi Girişi</a>
                    
                        <a asp-controller="Candidate" asp-action="Edit" asp-route-id="@obj.CandidateId" class="btn btn-primary btn-circle mx-2"><i class="bi bi-pencil-square"></i></a>
                        <a asp-controller="Candidate" asp-action="Delete" asp-route-id="    " class="btn btn-danger btn-circle mx-2"><i class="bi bi-trash"></i></a>
                     
                </div>*@
            </div>
        </div>
                
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover" id="candidateTable" width="100%" cellspacing="0">
                            <thead style="background-color: steelblue;">
                                <tr style="color: white;">
                                            <th>Fotoğraf</th>
                                            <th>Ayrıntılar</th>
                                            <th>Adı</th>
                                            <th>Soyadı</th>
                                            <th>İl</th>
                                            <th>Cinsiyet</th>
                                            <th>Telefon Numarası</th>
                                            <th>Yetenekler</th>
                                            <th>Kişilik Testi Sonucu</th>
                                            <th>Yabancı Dili</th>
                                            <th>Yabancı Dil Puanı</th>

                                        </tr>
                                    </thead>
        <tbody>

            @foreach(var obj in Model)
            {
                <tr> 
                    <td>
                                @if (@obj.Photo != null)
                                {
                                    <img src="@Url.Content("~/media/photo/" + @obj.Photo)"  alt="Profil Resmi" width="64" height="64" class="center" style="border-radius:50px">
                                }
                                else{ 
                                <img src="@Url.Content("~/media/person-icon.png")"  alt="Profil Resmi" width="64" height="64" class="center" style="border-radius:50px">
                                }
                            </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                        <a asp-controller="Candidate" asp-action="Details" asp-route-id="@obj.CandidateId" class="btn btn-primary mx-2"><i class="bi bi-card-text"></i> </a>
                        </div>
                     </td>
                    <td>@obj.FirstName</td>
                    <td>@obj.LastName</td>
                    <td>@obj.City</td>
                    <td>@obj.Gender</td>
                    <td>@obj.PhoneNumber</td>
                    <td>@obj.Skills</td>
                    <td>@obj.PersonalityTest</td>
                    <td>@obj.LanguageName</td>
                    <td>@obj.LanguageLevel</td>
                    
                </tr>
    
                
            }
        </tbody>
    </table>
                    </div>
                </div>
        
  

    </body>
    </html>
    